Source: deepin-gse
Section: admin
Priority: optional
Maintainer: Zhang Cheng <zhangcheng@linuxdeepin.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: deepin-gse-all
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~),
    deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-xrandr,
    deepin-gse-dock,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Description: Deepin default GNOME shell extensions.
 This is a meta package that will install all Deepin default GNOME shell 
 extensions.
 .
 Some extensions are still under development, whose name are not 
 determined yet, will be temporarily packaged into this package.

Package: deepin-gse-classic-systray
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop,
    deepin-gse-xrandr
Description: GNOME shell extension -- GNOME2 style systray
 This is a GNOME shell extension, provides a GNOME2 style systray.

Package: deepin-gse-drive-menu
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-xrandr,
    deepin-gse-dock,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop,
    deepin-gse-user-theme
Description: GNOME shell extension -- Removable drive menu
 This is a GNOME shell extension, it provides a status menu for accessing
 and unmounting removable devices.

Package: deepin-gse-hide-dash
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-xrandr,
    deepin-gse-dock,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Description: GNOME shell extension -- Hide dash
 This is a GNOME shell extension, it hides the favourites dock in overview
 screen.

Package: deepin-gse-hide-username
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-xrandr,
    deepin-gse-dock,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Description: GNOME shell extension -- Hide username
 This is a GNOME shell extension, it hides the username in status area.

Package: deepin-gse-no-a11y
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-xrandr,
    deepin-gse-dock,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Description: GNOME shell extension -- No a11y
 This is a GNOME shell extension, it hides the accessibility icon in GNOME 3.

Package: deepin-gse-no-click-tab
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-xrandr,
    deepin-gse-dock,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Description: GNOME shell extension -- No Click Tab
 This is a GNOME shell extension, no need to click to switch tab in overview
 screen.

Package: deepin-gse-shutdown-menu
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-xrandr,
    deepin-gse-dock,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Description: GNOME shell extension -- Alternative shutdown menu
 This is a GNOME shell extension, it changes the default shutdown menu.

Package: deepin-gse-system-monitor
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~), libglib2.0-bin, gir1.2-gtop-2.0
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-xrandr,
    deepin-gse-dock,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Description: GNOME shell extension -- System monitor
 This is a GNOME shell extension, it displays the system monitor in systray.

Package: deepin-gse-windowoverlay-icons
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-xrandr,
    deepin-gse-dock,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Description: GNOME shell extension -- Window overlay icons
 This is a GNOME shell extension, it displays an icon on the window overlay.

Package: deepin-gse-windows-alt-tab
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-xrandr,
    deepin-gse-dock,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Description: GNOME shell extension -- Windows alt-tab
 This is a GNOME shell extension, window alt tab.

Package: deepin-gse-windows-navigator
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-workspace-navigator,
    deepin-gse-xrandr,
    deepin-gse-dock,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Description: GNOME shell extension -- Windows navigator
 This is a GNOME shell extension, windows navigator.

Package: deepin-gse-workspace-navigator
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-xrandr,
    deepin-gse-dock,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Description: GNOME shell extension -- Workspace navigator
 This is a GNOME shell extension, workspace navigator.

Package: deepin-gse-xrandr
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~), gir1.2-gnomedesktop-3.0 
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-dock,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Description: GNOME shell extension -- Display control
 This is a GNOME shell extension, control display from the top panel.

Package: deepin-gse-dock
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~), libglib2.0-bin
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-user-theme,
    deepin-gse-xrandr,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Description: GNOME shell extension -- Dock
 This is a GNOME shell extension .

Package: deepin-gse-user-theme
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~), libglib2.0-bin
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-dock,
    deepin-gse-xrandr,
    deepin-gse-enhanced-search,
    deepin-gse-record-desktop
Conflicts: gnome-shell-extensions
Replaces: gnome-shell-extensions
Description: GNOME shell extension -- User Themes
 This is a GNOME shell extension, enable user themes.

Package: deepin-gse-record-desktop
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-dock,
    deepin-gse-xrandr,
    deepin-gse-user-theme,
    deepin-gse-enhanced-search
Conflicts: gnome-shell-extensions
Replaces: gnome-shell-extensions
Description: GNOME shell extension -- Record Desktop Icon
 This is a GNOME shell extension, shows an icon in systray to 
 start/stop recording desktop

Package: deepin-gse-enhanced-search
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Recommends: gnome-tweak-tool (>=3.2.0-1~)
Suggests: deepin-gse-classic-systray,
    deepin-gse-drive-menu,
    deepin-gse-hide-dash,
    deepin-gse-hide-username,
    deepin-gse-no-a11y,
    deepin-gse-no-click-tab,
    deepin-gse-shutdown-menu,
    deepin-gse-system-monitor,
    deepin-gse-windowoverlay-icons,
    deepin-gse-windows-alt-tab,
    deepin-gse-windows-navigator,
    deepin-gse-workspace-navigator,
    deepin-gse-dock,
    deepin-gse-xrandr,
    deepin-gse-user-theme,
    deepin-gse-record-desktop
Conflicts: gnome-shell-extensions
Replaces: gnome-shell-extensions
Description: GNOME shell extension -- Enhanced Search
 This is a GNOME shell extension, provides enchanced search utils
 in overview mode.
