#!/usr/bin/make -f
%:
	dh $@ 

override_dh_installdirs:
	dh_installdirs
	for dir in system-monitor/po/*/; do \
	    lang=`basename $$dir`; \
	    mkdir -p debian/deepin-gse-system-monitor/usr/share/locale/$$lang/LC_MESSAGES/; \
	    msgfmt $$dir/system-monitor-applet.po -o debian/deepin-gse-system-monitor/usr/share/locale/$$lang/LC_MESSAGES/system-monitor-applet.mo ; \
	    done
