<ion-header>
  <ion-navbar>
    <ion-title>
        <span class='question'>{{goodColor}}</span>
        <span class='point'>{{point}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content-timer">
    <div class="timer" [ngClass]="{'active': activeTimer}"></div>
  </div>
  <div *ngFor='let color of colors; trackBy: index;' [ngStyle]="{'background':color}" class="color" (click)="checkResponse(color)" >
    <img src="assets/img/response.svg" class="check-response" *ngIf='fail && color == goodColor'>
  </div>
  <div class="start-block" [hidden]="!fail">
    <div class='score-container' [hidden]="bestPoint">
      <div class="show-point">
          <div class="circle">
            <h1>{{point}}</h1>
            <h2>Best : {{record}}</h2>
          </div>
      </div>
    </div>
    <div class='best-score-container' [hidden]="!bestPoint">
      <trophy class="trophy"></trophy>
      <div class="score-trophy">
        {{point}}
      </div>
    </div>
    <div class="content-restart">
      <button ion-button block (click)="goToNavPage()">
        <ion-icon ios="ios-home" md="md-home"></ion-icon>
      </button>
      <button ion-button block (click)="resetAnimTimer()">
        <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon>
      </button>
      <button ion-button block (click)='shareScore();'>
        <ion-icon ios="ios-share" md="md-share"></ion-icon>
      </button>
    </div>

  </div>

</ion-content>
