label{
    
    clear: left;
    width: 250px;
    text-align: center;
}
input {
  
  margin-left: auto;
  margin-right: auto;
}
h2{
    text-align: center;
}
button{
    margin-left: auto;
    margin-right: auto;
}