$primary-color: #363A46;
$secondary-color: #fafafa;
$score-trophy-color: #f5f5b8;

// COLOR MODE

$easy-color-primary: #6ED69A;
$easy-color-secondary: #28b15f;

$normal-color-primary: #1fa2ff;
$normal-color-secondary: #2E77C0;
$normal-color-other: #0CC6FF;

$hard-color-primary: #F85465;
$hard-color-secondary: #D61834;

$initiated-color-primary:#9b59b6;
$initiated-color-secondary:#8e44ad;

$doom-color-primary: #ffd970;
$doom-color-secondary: #FCC015;